html,
body {
  margin: 0;
  height: 100%;
}

/* Using Flex to center the root */
body {
  background-image: linear-gradient(
    to right top,
    #051937,
    #002a47,
    #003c53,
    #004e5b,
    #0f5f60
  );

  display: flex;

  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;

  flex-wrap: wrap;
  flex-direction: column;
}

body > p {
  font-size: xx-large;
  font-weight: 900;
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
  color: bisque;
}

/* Window for sandbox and playing around in */
/* Flex Container */
#root {
  border: 3px solid grey;
  background-color: white;

  width: 1024px;
  height: 576px;

  display: flex;

  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;

  flex-wrap: wrap;
  flex-direction: column;

  overflow: hidden;
}
